.dark body {

  background-color: var(--color-dark);

  /*background-color: var(--color-slate-900);*/

  .master-intro b:hover {
    @apply text-primary opacity-75 transition-colors duration-300;
  }

  .bg-slate-850 {
    background-color: var(--color-slate-850);
  }

  .bg-slate-875 {
    background-color: var(--color-slate-875);
  }

}
