/*
 * Import global style guide
 */
@import "../../../../shared/theme/theme.css";

/*
 * Light / Dark mode
 */
@import "./color-modes/light.css";
@import "./color-modes/dark.css";

/*
 * Global styles
 */
.text-btc {
  color: var(--color-btc);
}

#cursor-glow {
  transition: background 0.21s ease;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}
