.text-dark {
  color: var(--color-dark);
}

.bg-dark {
  background-color: var(--color-dark) !important;
}

.bg-dark-secondary {
  background-color: var(--color-dark-secondary);
}

.border-dark-secondary {
  border-color: var(--color-dark-secondary);
}

.text-btc {
  color: var(--color-btc);
}

.text-primary-100 {
  color: var(--color-primary-300);
}

.hover-text-primary-100:hover {
  color: var(--color-primary-100);
}
