@config "./tailwind.config.ts";

/*
 * Library imports
 */
@import "tailwindcss";
@import "@nuxt/ui";

/*
 * Config
 *  - colors
 *  - nuxt/ui
 */
@import "./config.css";

/*
 * Light / Dark mode
 */
@import "./color-modes/light.css";
@import "./color-modes/dark.css";

.text-dark {
  color: var(--color-dark);
}

.bg-dark {
  background-color: var(--color-dark);
}

.text-btc {
  color: var(--color-btc);
}

.text-xs {
  font-size: 0.75rem;
}

.text-xxs {
  font-size: 0.625rem;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.font-roboto-flex {
  font-family: 'Roboto Flex', monospace;
}

